body {
  background-color: #fffacd;
}
.Blife {
  font-size: 150px;
  font-family: helvetica;
  color: #8b0000;
}

.Parks {
  font-family: helvetica;
  color: #8b0000;
  font-size: 12px
}
.Cities {
  font-family: helvetica;
  color: #f5fffa


}
